@tailwind base;
@tailwind components;
@tailwind utilities;







body {
  font-family: "Noto Serif Georgian", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif Georgian', serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.nav_hover:hover> Square {
  background-color: #58D389;
}
#rotate-360 {
  transform: rotate(360deg);
}